<% content_for :title, "New entry" %>

<div class="w-full">
  <h1 class="font-bold text-4xl">New entry</h1>

  <%= render "form", entry: @entry %>

  <%= icon_button "Back to entries", "arrow-left", entries_path, secondary_button_class %>
</div>
