<header class="bg-white dark:bg-gray-800 shadow">
  <nav class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center">
      <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
        <%- if authenticated? %>
          <%= current_user.contest.year %>
          <%= current_user.contest.host_country.flag %>
          <%= current_user.contest.host_country.name %>
          <%= current_user.contest.host_city %>
        <%- end %>
      </h2>
    </div>
  </nav>
</header>
